In [160]:
# Helper function to print output of flight queries

def printFlights(flightResults):
    # Clear _id
    flights = []
    for f in flightResults:
        flights.append(f)
        del flights[-1]["_id"]
        
    # Add headers as a first row
    headers = [{header:header for header in flights[0].keys()}]
    flights = headers + flights
    
    # Print values
    isHeader = True
    for flight in flights:
        for value in flight.values():
            if isHeader:
                value = value[0].upper() + value[1:]
            print(str(value) + " " * (15 - len(str(value))), end="")
        print()
        isHeader = False

In [161]:
# Tang Xuyuan

# Task 1.1

from pymongo import MongoClient
import json

client = MongoClient("localhost", 27017)

travelDb = client["Travel"]
flightColl = travelDb["Flight"]

# Insert tickets
with open("TICKET.json", "r") as file:
    flightsJson = file.read()    
flights = json.loads(flightsJson)
flightColl.insert_many(flights)

# Display all flight documents
results = flightColl.find()
printFlights(results)

client.close()

Country        City           Price          Company        DurationHour   Stop
Australia      Sydney         904            B Airways      8              0
Australia      Melbourne      1628           Q Airlines     7              0
Australia      Perth          881            S Airlines     5              0
UK             London         1373           L Airlines     19             2
UK             London         1561           S Airlines     17             1
UK             Manchester     1708           E Air          25             1
UK             Manchester     2917           B Airways      17             1
Japan          Osaka          821            S Airlines     10             1
Japan          Tokyo          1028           J Airlines     7              0
Japan          Tokyo          1124           Air J          7              0

In [162]:
# Tang Xuyuan

# Task 1.2

from pymongo import MongoClient

client = MongoClient("localhost", 27017)
travelDb = client["Travel"]
flightColl = travelDb["Flight"]

# Update stop field to 0, for flights without stops
query = {
    "stop": {
        "$exists": False
    }
}
replacement = {
    "$set": {
        "stop": 0
    }
}
result = flightColl.update_many(query, replacement)

# Display info for flights by company S Airlines
query = {"company": "S Airlines"}
result = flightColl.find(query)
printFlights(result)
print()
    
# Display city & price for flights <10 hours and <$1500
query = {
    "durationHour": {
        "$lt": 10
    },
    "price": {
        "$lt": 1500
    }
}
projection = {
    "city": True,
    "price": True
}
result = flightColl.find(query, projection)
print("City & Price for flights under 10h and under $1500:")
printFlights(result)
print()

# Display all info for cheapest air ticket
result = [flightColl.find({}).sort("price")[0]]
print("Cheapest air ticket")
printFlights(result)


client.close()

Country        City           Price          Company        DurationHour   Stop
Australia      Perth          881            S Airlines     5              0
UK             London         1561           S Airlines     17             1
Japan          Osaka          821            S Airlines     10             1

City & Price for flights under 10h and under $1500:
City           Price
Sydney         904
Perth          881
Tokyo          1028
Tokyo          1124

Cheapest air ticket
Country        City           Price          Company        DurationHour   Stop
Japan          Osaka          821            S Airlines     10             1